server:
  port: 1116

spring:
  application:
    name: bookingservice
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://database:3306/springbootdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:${DATABASE_APP_USER}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DATABASE_APP_PASSWORD}}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://eurekaserver:8761/eureka/
